#theme-footer{
	font-family: 'Rubik', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  margin-top: 10px;
  position: static;
  background-color: white;
  border-top: 3px solid black;
	.foot-master{
	 	margin: 0;
	 	padding: 0;
	 	width: 100%;
	 	color: #5F5F5F;
		.foot{
			display: inline-block;
			width: 24%;
			top: 0;
			position: relative;
			vertical-align: top;
			h4{
				font-weight: bold;
				text-align: center;
			  font-size: 12pt;
			}
			#dwn{
				margin-left: 8%;
			}
			ul{
				list-style: none;
				text-align: center;
			  font-size: 9pt;
				line-height: 15pt;
			}
			a{
				color: #5F5F5F;
				font-weight: bold;
				text-decoration: none;
				font-size: 14px;
				text-align: left;
		    	a:hover{
		        color: black;
		    	}
				}
			#logoUFBA{
				height: 110px;
			}
			#logoDCC{
				padding-left: 4%;
			}
		  img{
		  	height: 100px;
		    margin-top: 10%;
		  }
		  border: 3px solid rgba(255, 255, 255, 0.9);
		 	border-radius: 40px;
		  #local{
		  	text-align: center;
		  }
			#fotemail{
				color: #5F5F5F;
				font-size: 14px;
				font-weight: normal;
			}
		  p{
      	text-align: center;
		  }
			ul{
				font-weight: bold;
				font-size: 12pt;
				li{
					margin: 0px 20px;
					a{
						font-weight: normal;
					}
				  a:hover{
				  	color: #5F5F5F;
						text-decoration: underline;
				  }
				}
			}
			i{
		 		margin: 0px 10px;
			}
		}
	}
	#footer-final{
		border-top: 1px solid black;
		clear: both;
		text-align: center;
		padding-top: 1%;
		background-color: rgba(255, 255, 255, 0.9);
		color: #5F5F5F;
		.pull-left{
			float: initial;
			margin: 5px;
			font-size: 11pt;
			#footer-bold{
				font-weight: bold;
			}
		}
	}
}
