@import url('https://fonts.googleapis.com/css?family=Open+Sans|Rubik|Yantramanav');
#theme-header {
  display: none;
  position: absolute;
  z-index: 10;
  width: 100%;
  margin: 0;
  padding: 0;
  top: 0;
  #textoLogo {
    display: none;
  }
  #logo {
    position: absolute;
    background: #FFF;
    display: inline-block;
    width: 190px;
    margin: 0 5%;
    z-index: 6;
    text-align: center;
    border-radius: 0 0 15px 15px;
    img {
      height: 200px;
    }
  }
  nav{
    z-index: 5;
    float: right;
    width: 78%;
    height: 100px;
    text-align: center;
    ul{
      margin: 0;
      padding: 0;
      width: 100%;
      height: 100%;
      float: right;
      text-transform: uppercase;
      .root_nav{
        width: 12%;
        height: 35%;
        display: inline-block;
        margin-top: 30px;
        margin-right: 2%;
        a {
          color: #FFF;
          text-decoration: none;
          padding-bottom: 15px;
          font-family: "Open Sans";
          &:hover {
            color:#37A1F4;
            border-bottom: 1px solid#37A1F4;
          }
        }
        #branch_nav {
          display: none;
        }
        &:hover {
          #branch_nav{
            margin-top: 15px;
            display: block;
            li {
              list-style: none;
              padding-bottom: 15px;
              &:hover {
                color: #37A1F4;
                border-bottom: 1px solid #37A1F4;
              }
              a {
                text-decoration: none;
                border: none;
              }
            }
          }
        }
      }
      #extensao{
        a {
          &:hover {
            color: #3F51B5;
            border-bottom: 1px solid #3F51B5;
          }
        }
        #branch_nav {
          li {
            &:hover {
              color: #3F51B5;
              border-bottom: 1px solid #3F51B5;
            }
          }
        }
      }
      #pesquisa {
        a {
          &:hover {
            color: #ff5722;
            border-bottom: 1px solid #ff5722;
          }
        }
        #branch_nav {
          li {
            &:hover {
              color: #ff5722;
              border-bottom: 1px solid #ff5722;
            }
          }
        }
      }
      #gestao {
        a {
          &:hover{
            color: #FF4500;
            border-bottom: 1px solid #FF4500;
          }
        }
      }
      #sobre-nos {
        a {
          &:hover{
            color: #C0C0C0;
            border-bottom: 1px solid #C0C0C0;
          }
        }
      }
      #producoes {
        a {
          &:hover {
            color: #8bc34a;
            border-bottom: 1px solid #8bc34a;
          }
        }
        #branch_nav {
          li {
            &:hover {
              color: #8bc34a;
              border-bottom: 1px solid #8bc34a;
            }
          }
        }
      }
    }
  }
  &.comScroll {
    #textoLogo {
      margin: 0;
      padding: 0;
      height: 70px;
      display: inline-block;
      text-align: center;
      color: #000;
      position: fixed;
      top: 0;
      z-index: 6;
      img{
        width: 90px;
        height: 100px;
        float: left;
        margin-left: 90px;
      }
    }
    nav{
      top: 0;
      z-index: 5;
      position: fixed;
      height: 100px;
      width: 100%;
      background: rgba(255, 255, 255, 0.9);
      ul{
        position: relative;
        float: right;
        text-transform: uppercase;
        text-align: left;
        width: 80%;
		 .root_nav {
          padding: 0;
          margin: 0;
          height: 100%;
          width: 13.9999%;
          text-align: center;
          a {
            color: #37A1F4;
            margin-top: 35px;
            display: inline-block;
          }
          &:hover{
            border: none;
            color: #FFF;
            background: #37A1F4 ;
            a{
              color: #FFF;
              border: none;
            }
            #branch_nav {
              li {
                margin-top: -5px;
                color: #FFF;
                background: #37A1F4;
                text-align: center;
              }
            }
          }
        }
      #extensao {
        &:hover{
          color: #FFF;
          background: #3F51B5;
          a{
            color: #FFF;
            border: none;
          }
          #branch_nav {
            li {
              background: #3F51B5;
            }
          }
        }
        a {
          color: #3F51B5;
          &:hover{
            color: #FFF;
            border: none;
          }
        }
      }
      #pesquisa {
        &:hover{
          color: #FFF;
          background:#ff471a;
          a{
            color: #FFF;
            border: none;
          }
          #branch_nav {
            li {
              background:#ff471a;
            }
          }
        }
        a {
          color: #ff471a ;
          &:hover{
            color: #FFF;
            border: none;
          }
        }
      }
      #gestao {
        &:hover {
          color: #FFF;
          background:  #ECA254;
          a{
            color: #FFF;
            border: none;
          }
        }
        a {
          color: #ECA254;
        }
      }
      #producoes {
        &:hover {
          color: #FFF;
          background: #669900ff;
          a{
            color: #FFF;
            border: none;
          }
          #branch_nav {
            li {
              background: #669900ff;
            }
          }
        }
        a {
          color: #669900ff;
        }
      }
      #sobre-nos {
        &:hover {
          color: #FFF;
          background:  #696969;
          a{
            color: #FFF;
            border: none;
          }
          #branch_nav {
            li {
              background:#696969;
            }
          }
        }
        a {
          color: #696969;
        }
      }
    }
  }
}
// #ondadigital-capa-mod {
//     width: 50%;
//     margin: 0 25%;
//     color: #FFF;
//     text-align: center;
//     text-transform: uppercase;
//     h1 {
// 	  font-family: 'Open Sans', sans-serif;;
//       font-size: 60px;
//     }
//     h2 {
//       font-family: 'Open Sans', sans-serif;
//       font-size: 30px;
//     }
//     #btn-saiba {
//       width: 15%;
//       margin: 0 44%;
//       height: 50px;
//       border: 1px solid transparent;
//       margin-top: 10%;
//       background: #3b930c;
//       border-radius: 15px;
//       text-transform: none;
// 	  font-family: 'Open Sans', sans-serif;
//     }
//   }
}

#user {
  display: none;
  #top-search {
    display: none;
  }
}
#site-title {
  display: none;
}
#ondadigital-extensao-bloco{
  background-color: blue;
  width: 60%;
  float: left;
  #ondaidigtal-logo-extensao{
    margin-left: 0;
    padding: 0;
    width: 20%;
    #logoex{
      margin: 5%;
    }
  }
  #ondadigital-conteudo-extensao{
    width: 80%;
    #ondadigital-conteudoex{
      margin: 5%;
      color: white;
    }
  }
  #ondadigital-extensao-projetos{
    width: 100%;

  }
}

@media screen and (min-width: 1400px) {
  #theme-header {
    nav {
      ul{
        //width: 70%;
      }
    }
  }
  #wrap-1{
    #content{
      #boxes{
        #blocos-st{
          margin-left: 23%;
        }
      }
    }
  }
}
