@import url('https://fonts.googleapis.com/css?family=Cabin|Crimson+Text|Karma|Open+Sans+Condensed:300|Quicksand|Saira+Condensed|Space+Mono');
#article {
  #article-toolbar {
    #article-header {
      .title {
        text-transform: uppercase;
        font-family: 'Yantramanav', sans-serif;
        width:25%;
        border-bottom: 5px solid #393030;
        padding: 15px;
        color: #393030;
        font-size: 30px;
        text-align: right;
      }
    }
  }
  .article-body, .article-body-text-article {
      width: 70%;
      margin: 0 15%;
      font-family: "Karma";
      color: #2E3B3B;
  }
}

#ultimas, #extensao, #gestao, #pesquisa, #eventos,#producoes, #como-participar-,
#sobre-nos, #parcerias, #eventos{
  #article-toolbar {
    #article-header {
       width: 100%;
      .title {
        text-transform: uppercase;
        font-family: 'Yantramanav', sans-serif;
        width: 28%;
        border-bottom: 5px solid #37A1F4;
        padding: 15px;
        color: #37A1F4;
        margin-right: 50%;
        font-size: 40px;
        margin-bottom: 50px;
        text-align: right;
      }
      .publishing-info{
        display: none;
      }
    }
  }
  .article-body {
    .pre-posts{
      display: none;
    }
    .blog-posts{
      .blog-post-inner{
        h1{
          text-align: center;
        }
        span{
          text-align: center;
        }
        div{
          width: 80%;
          margin: 0 10%;
        }
      }
    }
    .blog-description {
      width: 60%;
      margin: 0 20%;
      position: initial;
      display: inline-block;
      #onda-digital, #profcomp {
        display: inline-block;
        width: 20%;
        height: 160px;
        color: #FFF;
        h1 {
          margin-top: 60px;
        }
      }
      #onda-digital {
        background: #1437b3;
        margin-left: 29%;
      }
      #profcomp {
        background: #669900ff;
        margin-left: 2%;
      }
    }
  }
}
#ultimas {
  #article-toolbar {
    #article-header {
      .title {
        border-bottom: 5px solid #696969;
        color:#696969;
      }
    }
  }
}
#extensao {
  #article-toolbar {
    #article-header {
      .title {
        border-bottom: 5px solid #1437b3;
        color: #1437b3;
      }
    }
  }
}
#gestao {
  #article-toolbar {
    #article-header {
      .title {
        border-bottom: 5px solid #ECA254;
        color: #ECA254;
      }
    }
  }
}
#producoes {
  #article-toolbar{
    #article-header{
      .title{
        color: #669900ff;
        border-bottom: 5px solid #669900ff;
      }
    }
  }
}
#extensao {
  #ondadigital-extensao-bloco{
    background-color: #1c43cc;
    width: 60%;
    margin-left: 22%;
    #ondadigital-extensao-conteudo{
      margin: 0;
    }
    #ondadigital-logo-extensao{
      margin: 2%;
      padding: 0;
      width: 20%;
      float: left;
      #logoex{
        margin: 5%;
        width: 150%;
      }
    }
    .title, .publishing-info {
      display: none;
    }
    #ondadigital-conteudo-extensao{
      width: 80%;
      margin-top: 20px;
      padding: 2%;
      margin-left: 38%;
      p{
        text-align: justify;
        margin-top: 1%;
      }
      #ondadigital-conteudoex{
        margin: 0;
        color: white;
      }
    }
    #ondadigital-extensao-projetos{
      width: 100%;
    }
  }
}
#pesquisa {
  #article-toolbar{
    #article-header{
      .title{
        color: #f00;
        border-bottom: 5px solid #f00;
      }
    }
  }
  #ondadigital-pesquisa-bloco{
    height: 205px;
    background-color: #669900ff;
    width: 60%;
    margin-left: 22%;
    #ondadigital-pesquisa-conteudo{
      margin: 0;
    }
    #ondadigital-logo-pesquisa{
      margin: 2%;
      padding: 0;
      width: 20%;
      float: left;
      #logops{
        width: 150%;
      }
    }
    #ondadigital-conteudo-pesquisa{
      width: 80%;
      padding: 2%;
      margin-left: 38%;
      p{
        text-align: justify;
        margin-top: 1%;
      }
      #ondadigital-conteudops{
        margin: 0;
        color: white;
      }
    }
    #ondadigital-pesquisa-projetos{
      width: 100%;
    }
  }
}
#sobre-nos {
  #article-toolbar{
    #article-header{
      .title{
        color: #696969;
        border-bottom: 5px solid #696969;
      }
    }
  }
}

h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  font-family: "Open Sans", sans-serif;
  color: #37A1F4;
}

.cms-articles, #profile-data {
  width: 60%;
  margin: auto;
  font-family: "Open Sans", sans-serif;
  a {
    font-family: "Open Sans", sans-serif;
  }
}

.cms-homepage {
  font-family: "Open Sans", sans-serif;
  a {
    font-family: "Open Sans", sans-serif;
  }
}

#profile-editor-index {
  width: 60%;
  margin: auto;
  .control-panel {
    margin-top: 40px;
    width: 100%;
    a {
      margin-bottom: 75px;
      margin-right: 0;
      margin-left: 5%;
      width: 20%;
      font-family: "Open Sans", sans-serif;
    }
  }
  .control-panel-title, .control-panel-subtitle, .control-panel-sep {
    font-family: "Open Sans", sans-serif;
    color: #37A1F4;
  }
}
