<div class="foot-master">
        <div class="foot">
            <a href="https://www.ufba.br">
                <img id="logoUFBA" src="/designs/themes/onda-digital/images/logoufba.png">
            </a>
            <a href="http://im.ufba.br/">
                <img id="logoIM" src="/designs/themes/onda-digital/images/logoime.png">
            </a>
            <a href="http://wiki.dcc.ufba.br/DCC/">
                <img id="logoDCC" src="/designs/themes/onda-digital/images/logodcc.png" >
            </a>
        </div>
        <div class="foot">
           <ul>
             <h4 id="dwn">DOWNLOADS</h4>
             <li><a class="footer-a" href="#"><i></i>Identidade Visual</a></li>
             <li><a class="footer-a" href="#"><i></i>Modelos</a></li>
             <li><a class="footer-a" href="#"><i></i>Formulários</a></li>
           </ul>
         </div>
          <div class="foot">
           <ul>
             <h4>RESPONSABILIDADE SOCIOAMBIENTAL</h4>
             <li><a href="#">Doações</a></li>
             <li><a href="#">Lixo Tecnológico</a></li>
             <li><a href="#">Horta</a></li>
           </ul>
        </div>
        <div class="foot">
        <h4>CONTATO</h4>

        <ul>
          <li></li>
          <li>E-mail:<span id="fotemail"> ondadigital@ufba.br</span></li>
          <li>Facebook: <a href="https://www.facebook.com/ProgramaOndaDigital/?ref=br_rs">ProgramaOndaDigital</a></li>
          <li>Twitter: <a href="https://twitter.com/ondadigitalufba?lang=pt">@ondadigitalufba</a></li>
          <li>YouTube: <a href="https://www.youtube.com/user/ProgramaOndaDigital">Programa Onda Digital</a></li>
          <li>Instagram: <a href="https://www.instagram.com/ondadigitalufba/">@ondadigitalufba</a></li>
        </ul>
        </div>
       </div>
       <div id="footer-final">
         <% if profile.admins.include? user %>
           <%= link_to "Painel de Controle", "#{top_url}/myprofile/#{profile.identifier}" %>
           <br><br>
         <%end%>
         <strong>Campus de Ondina, Av. Adhemar de Barros, S/N, Ondina - CEP: 40.170.110 - Salvador/BA</strong>
          <p><%= (_('This theme was developed by %s and is available in <a href="https://gitlab.com/dev-onda/onda-digital">Gitlab</a>') % link_to('Onda Digital Development Team', 'https://gitlab.com/dev-onda')).html_safe %></p>
         <p class="pull-left">Copyleft © 2017 Onda Digital - <span id="footer-bold">Universidade Federal da Bahia</span></p>
       </div>
