<% if @page %>
  <script>
    $(document).ready( function() {
      switch("<%= @page.url[:page].first %>") {
        case "pesquisa":
          $("#article").attr('id', 'pesquisa');
          $(".main-content h1").css("color", "#ff471a");
          $(".main-content h1").css("border-bottom-color", "#ff471a");
          break;
        case "extensao":
          $("#article").attr('id', 'extensao');
          $(".main-content h1").css("color", "#3F51B5");
          $(".main-content h1").css("border-bottom-color", "#3F51B5");
          break;
        case "ultimas-noticias":
          $("#article").attr('id', 'ultimas');
          $(".main-content h1").css("color", "#1c43cc");
          $(".main-content h1").css("border-bottom-color", "#1c43cc");
          break;
        case "producoes":
            $("#article").attr('id', 'producoes');
            $(".main-content h1").css("color", "#669900ff");
            $(".main-content h1").css("border-bottom-color", "#669900ff");
    	  break;
        case "sobre-nos":
            $("#article").attr('id', 'sobre-nos');
            $(".main-content h1").css("color", "#696969");
            $(".main-content h1").css("border-bottom-color", "#696969");
        break;
      }
    });
  </script>
<% end %>
<div id="logo">
  <a href="/onda-digital"><img src="/designs/themes/onda-digital/images/gp.png" alt="Logo do Onda"></a>
</div>
<nav>
  <ul>
    <li class="root_nav" id="pesquisa"><%= link_to "Pesquisa", "#{top_url}/#{profile.identifier}/pesquisa"%>
      <ul id="branch_nav">
        <li><%= link_to "Pós-Graduação", "#{top_url}/#{profile.identifier}/pesquisa/pos-graduacao"%></li>
        <li><%= link_to "Linhas de Pesquisa", "#{top_url}/#{profile.identifier}/pesquisa/linhas-de-pesquisa"%></li>
        <li><%= link_to "Projetos de Pesquisa", "#{top_url}/#{profile.identifier}/pesquisa/projetos-de-pesquisa"%></li>
      </ul>
    </li>
    <li class="root_nav" id="extensao"><%= link_to "Extensão", "#{top_url}/#{profile.identifier}/extensao"%>
      <ul id="branch_nav">
        <li><%= link_to "Onda Digital", "#{top_url}/#{profile.identifier}/extensao/onda-digital" %></li>
        <li><%= link_to "PROFCOMP", "#{top_url}/#{profile.identifier}/extensao/profcomp"  %></li>
      </ul>
    </li>
    <li class="root_nav" id="como-participar"><%= link_to "Como Participar", "#{top_url}/#{profile.identifier}/como-participar-"%></li>
    <li class="root_nav" id="eventos"><%= link_to "Eventos", "#{top_url}/#{profile.identifier}/eventos"%></li>
    <li class="root_nav" id="producoes"><%= link_to "Produções", "#{top_url}/#{profile.identifier}/producoes"%>
      <ul id="branch_nav">
        <li><%= link_to "Científica", "#{top_url}/#{profile.identifier}/producoes/cientifica" %></li>
        <li><%= link_to "Tecnologica", "#{top_url}/#{profile.identifier}/producoes/tecnologica" %></li>
      </ul>
    </li>
    <li class="root_nav" id="parcerias"><%= link_to "Parcerias", "#{top_url}/#{profile.identifier}/parcerias"%></li>
    <li class="root_nav" id="sobre-nos"><%= link_to "Sobre nós", "#{top_url}/#{profile.identifier}/sobre-nos"%></li>
  </ul>
</nav>
