<div id="textoLogo">
  <img src="/designs/themes/onda-digital/images/gp.png" alt="">
  <article class="">
    <p id="nomeOnda">Onda Digital</p>
    <p id="peExt">Pesquisa e Extensão</p>
  </article>
</div>

<div id="logo">
  <img src="/designs/themes/onda-digital/images/gp.png" alt="">
</div>
<nav>
  <ul>
    <li><a href="#">início</a></li>
    <li id="pesquisa"><a href="#">pesquisa</a></li>
    <li id="extensao"><a href="#">extensão</a></li>
    <li><a href="#">contato</a></li>
  </ul>
</nav>

<article>
  <h1>Grupo Onda Digital</h1>
  <h2>Pesquisa e Extensão</h2>
  <div id="btn-saiba">
    <p>Saiba Mais</p>
  </div>
</article>
