@import url('https://fonts.googleapis.com/css?family=Inconsolata|Noto+Sans|Open+Sans|Rubik|Yantramanav');

body {
  margin: 0;
  padding: 0;
  background: #f6f6f3;
}

#link-go-content {
  display: none;
}

@import 'header';

#wrap-1 {
  width: 100%;
  #wrap-2 {
    width: 100%;
    margin: 0;
    #content{
      #boxes{
        @media screen and (min-width: 1400px) {
          .blocks{
            #blocos-st{
              margin-left: 23%;
            }
          }
        }
        #blocos-st{
          list-style: none;
          display: inline-flex;
          margin-left: 10%;
          margin-top: -16px;
          padding: 0;
          .blocos-li{
            margin: 0 2%;
            width: 250px;
            height: 150px;
            font-size: 25px;
            text-align: center;
            font-family: 'Rubik', sans-serif;
            align-content: center;
            p{
              align-items: center;
              text-align: center;
              margin-top: 25%;
            }
          }
          #blocos-un{
            background-color: #669900ff;
            color:white;
          }
          #blocos-ex{
            background-color:#002b80;
            color:white;
          }
          #blocos-ev{
            background-color: #37A1F4;
            color:white;
          }
          #blocos-gt{
            background-color:#696969;
            color:white;
          }
        }
        .block-target {
          border: 1px solid green;
        }
        .block-target-active {
          border: 1px solid green;
        }
        .block-outer {
          .highlights-block {
            position: relative;
            top: -15px;
            width: 99.99%;
            margin: 0;
            padding: 0;
            .highlights-container {
              position: relative;
              height: 550px;
              margin: 0;
              padding: 0;
            }
          }
        }
      }
      #content-inner {
        font-family: "Open Sans", sans-serif;
        h1 {
          margin-top: 40px;
          font-family: "Open Sans", sans-serif;
          color: #37A1F4;
        }
      }
      .main-content{
        @media screen and (min-width: 1400px) {
          #extensao{
            #ondadigital-extensao-bloco{
              width: 50%;
              margin-left: 27%;
              margin-top: 20px;
              #logoex{
                width: 90%
              }
            }
          }
          #pesquisa{
            #ondadigital-pesquisa-bloco{
              width: 50%;
              margin-left: 25%;
              #ondadigital-conteudo-pesquisa{
                margin:0;
                padding: 2%;
                margin-left: 25%;
              }
              #ondadigital-logo-pesquisa{
                #logops{
                  width: 107%;
                  margin-top: 3%;
                }
              }
            }
          }
        }
        .blog-posts {
          .title {
            display: none;
          }
          .publishing-info {
            display: none;
          }
        }
        @import 'main';
      }
    }
  }
}

#footer {
  @import 'footer';
}
